/*  Site styling */
@font-face {
  font-family: Windsor Regular;
  src: url(./../fonts/WindsorRegular.ttf);
}

#root {
  background-color: #f6f5f4;
}

/* anchors */
a, .footer a {
  color: white;
  font-weight: 500;
}

/* unvisited link */
a:link, .footer a:link {
  font-weight: 400;
  text-decoration: none;
}

/* visited link */
a:visited, .footer a:visited {
  color: lightgray;
}

/* mouse over link */
a:hover, .footer a:hover {
  font-weight: 500;
}

/* selected link */
a:active, .footer a:active {
  font-weight: lightgray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: 'Windsor Regular'; */
  /* text-transform: uppercase; */
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Site {
  background-color: #f6f5f4;
}

/* Header Nav */

.header {
  background-color: #272727;
  overflow: hidden;
}
.navigation {
  background-color: #272727;
}

.navigation button {
  margin-right: 5px;
}

.logo {
  max-width: 150px;
}

/* Hero */

.hero div {
  width: 100v;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero-mask {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../img/stock/beans.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  background-position-y: 50%;
  background-position-x: 50%;
}

.hero h1, span, p {
  text-align: center;
}

.hero h1 {
  font-size: xx-large;
  font-weight: 900
  ;
}

.hero span {
  font-size: x-large;
  font-weight: 600
}

.hero p {
  font-size: small;  
  font-weight: 400
}


/* Footer Styling */
.footer {
  background-color: #272727;
  color: lightgray;
  padding: 15px;
}

.toggle {
  text-align: center;  
  padding-top: 5px;
}

.contact-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-branding {
  text-align: center;  
  padding-top: 5px;
}

/* Subscription Modal */
.sub-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-modal img {
  max-width: 200px;
}

.sub-modal p {
  padding-top: 15px;
  text-align: center;
}

/* Inventory */
.sub-heading {
  display: block;
  font-size: large;
}

.detail {
  max-width: 500px;
  display: block;
  margin:auto;
  padding: 1% 5% 5% 5%;
}

.detail-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 5px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.detail button {
  margin-right: 5px;
}

.inventory-list {
  margin: 0 0 15px 0;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.add-form button {
  width: fit-content;
  display: block;
  margin: auto;
}

.inventory-card {
  display: flex;
  justify-content: center;
}
.inventory-card div {
  border-style: none;
  background-color: transparent;
}

.inventory-card p, h4 {
  text-align: left;
  display: inline;
}

.inventory-card h4 {
  font-size: x-large;
}

.inventory-card button {
  margin: 5px 5px 0 0;
}

.update-header {
  display: flex;
  justify-content: space-between;
}

/* Featured  */
.featured-img {
  width: 100%;
}

.featured-product {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}

.featured-post img {
  width: 100%;
}

.featured-post h2{
  display: inline;
  font-size: x-large;
  font-weight: 700;
}

.featured-post span{
  font-weight: 300;
}


/* Cart */
#cart-add {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 2px;
}