.Site {
  background-color: #F6F5F4;
}

.Header {
  text-align: center;
}

.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.detail {
  background-color: lightblue;
  padding: 1% 5% 5% 5%;
}
.itemList {
  display: flex;
}

.add-form {
  background-color: bisque;
}